@import 'src/styles/variables';
.list{
  display: flex;
  list-style: none;
  gap: 5px;
  justify-content: center;

  .item{
    text-align: center;
    width: 52px;
    height: 52px;
    background: transparent;
    color: $color-text-primary;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color ease-in-out 0.5ms;
  }
  .item:hover{
    background-color: $button-primary-bg-hover;
  }
  .item.active{
    background-color: $loader-bg;
  }

  .arrow{
    cursor: none;
    pointer-events: none;
    background: transparent;
    svg{
      transform: rotate(90deg);
      stroke: #3b3b3b;
    }
  }
  .arrowActive {
    cursor: pointer;
    pointer-events: all;

    svg {
      stroke: black;
      transform: rotate(-90deg);
    }
  }

}

