@import './Roboto/fonts.css';
@import 'variables.scss';

html, body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: $color-text-primary;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}
a{
  text-decoration: none;
  color: $color-text-primary;
}
body{
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(255, 192, 118, 0.23);
}

.container{
  max-width: 1240px;
  margin: 0 auto;
}
.active{
  color: #b5460f;
  text-decoration: none;
}
