$color-text-primary: #000;
$color-text-accent: #b5460f;

$button-primary-bg: #b5460f;
$button-primary-text: #fff;
$button-primary-bg-hover: rgba(181, 70, 15, 0.7);
$button-primary-text-hover: #fff;
$button-primary-bg-disabled: #d9d9d9;
$button-primary-text-disabled: #fff;
$button-primary-bg-active: #872d01;
$button-primary-text-active: #fff;
$loader-bg: #b5460f;

$space-xl: 24px;
$border-radius: 10px;
