@import "src/styles/variables";

.shortRecipe{
  padding: 36px;
  margin-bottom: 48px;
  background: rgba(181, 70, 15, 0.33);
  border-radius: $border-radius;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}
