.header_wrapper{
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  }
.header_menu{
  display: flex;
  gap: 80px;

  .logo{
    display: flex;
    gap: 20px;
    align-items: center;

    p{
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
    }

  }
  nav{
    display: flex;
    gap: 16px;
    align-items: center;
    line-height: 125%;
  }
}

.icons{
  display: flex;
  gap: 17px;
  align-items: center;
}
