@import "src/styles/variables";

.header{
  background: #fff;


  .wrapper{
    display: flex;
    justify-content: space-between;
    padding: 14px 0;

    .menu{
      display: flex;
      gap: 80px;
      @media screen and (min-width: 320px) and (max-width: 672px) {
        & {
          width: 100%;
          padding: 0 10px;
          justify-content: space-between;
        }
      }

      .logo{
        display: flex;
        gap: 20px;
        align-items: center;

      }
      nav{
        @media screen and (min-width: 320px) and (max-width: 682px) {
          &{
            display: none;
          }
          &.nav_open{
            position: fixed;
            height: 100%;
            width: 100%;
            top: 70px;
            right: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background: white;
            overflow: scroll;
          }
        }
        display: flex;
        gap: 16px;
        align-items: center;
        line-height: 125%;
      }
    }

    .icons{
      @media screen and (min-width: 320px) and (max-width: 750px) {
        &{
          display: none;
        }
      }
      display: flex;
      gap: 17px;
      align-items: center;
      color: $color-text-accent;
    }
  }

  .burger{
    display: none;
    @media screen and (min-width: 320px) and (max-width: 672px) {
      & {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        width: 40px;
        height: 40px;
        border: 1px solid $color-text-accent;
        background: #fff;
        padding: 5px;
        border-radius: 8px;
        & .btn__burger {
          position: relative;
          display: block;
          width: 100%;
          height: 4px;
          background: $color-text-accent;
          cursor: pointer;

          div {
            width: 100%;
            height: 100%;
          }

          &:before, &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            background: $color-text-accent;
          }

          &:before {
            top: -8px;
          }

          &:after {
            top: 8px;
          }
        }
      }

    }
  }
}



