@import 'src/styles/variables';

.multi_dropdown{
    position: relative;
    width: 100%;

    .multi_dropdown_options{
        position: absolute;
        top: calc(100% + #{$space-xs});
        left: 0;
        width: 100%;
        background: $button-primary-text;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
        border-radius: $border-radius;

        .multi_dropdown_option{
            display: block;
            padding: $space-s $space-xs;
            color: $color-text-primary;
            cursor: pointer;
            appearance: none;
            border: none;
            outline: none;
            background: none;

            &:hover{
                color: $text-secondary;
            }
        }
        .multi_dropdown_option_selected{
            color: $color-text-accent;
        }
    }
}
