@import "src/styles/variables";

.card_info_wrapper{
  position: relative;

  & >img{
    position: absolute;
    top: -65px;
    right: -98px;
    z-index: -10;
  }
}
.linkBack{
  padding: 49px 0 37px 0;
  .arrownLink{
    display: flex;
    gap: 16px;
    align-items: center;

    svg{
      stroke: $loader-bg;
      transform: rotate(90deg) ;
    }

    h1{
      font-weight: 700;
      font-size: 44px;
      line-height: 109%;
    }
  }
}
.composition_wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 57px;
  }


