.card_info_wrapper{
  position: relative;
  img{
    position: absolute;
    top: 0;
    right: 0;
  }
}
.linkBack{}
.shortInfo{}
.shortInfo_wrapper{}
.cooking_time_info{}
.short_recipe{}
.ingredients{}
.equipment{}
